

/* importations */

/* GLobal Rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables */
:root {
  /* colors */
  --bg-dark-1: #0c0c0c;
  --bg-dark-2: #222831;
  --bg-dark-3: #262626;
  --bg-dark-4: #6b6b6b;
  --bg-light-1: #f1f1f1;
  --bg-light-2: #d9d9d9;
  --bg-light-3: #8c8c8c;
  --bg-accent-1: #d91a1a;
  --bg-accent-2: #bf2121;
  --bg-accent-4: #a62d2d;
  --bg-accent-3: #f2a2a2;
  --bg-accent-5:#578FCA;
  --bg-accent-5-5:#1f3b58;
  --bg-trasnparent:hsla(0, 0%, 100%, 0.603);
  /* font size */
  --text-1: 0.73rem;
  --text-2: 0.83rem;
  --text-3: 0.87rem;
  --text-4: 1rem;
  --text-5: 1.11rem;
  --text-6: 1.28rem;
  --title-1: 1.5rem;
  --title-2: 2rem;
  --title-3: 2.4rem;
  --title-4: 3rem;
  /* padding */
  --padding-1: 1rem;
  --padding-2: 1.28rem;
  --padding-3: 1.59rem;
  --padding-4: 1.833rem;
  --padding-5: 2rem;
  --padding-6: 2.2rem;
  --padding-7: 2.7rem;
  --padding-8: 3rem;
}
/* body starts */


body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-image: linear-gradient(
    to right,
    var(--bg-dark-3),
    var(--bg-dark-2)
  );
}

header {
  padding: 0.6rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav {
  border: 1px solid var(--bg-light-3);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: #0c0c0c5b;
  backdrop-filter: blur(4px);
  /* position: relative; */
}

.nav-links ul {
  display: flex;
  gap: 3rem;
}
.nav-links ul li {
  list-style: none;
}
.nav-links ul li a {
  text-decoration: none;
  color: var(--bg-light-2);
  font-size: 1.2rem;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
}
.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 30px;
  background: var(--bg-accent-1);
  transition: height 0.2s;
  z-index: 1;
  pointer-events: none;
  opacity: 0.7;
}
.nav-links ul li .active-link {
  color: var(--bg-accent-1);
  font-weight: 600;
}

.msn-link {
  text-decoration: none;
  background-color: transparent;
  color: var(--bg-light-2);
  font-size: 1.2rem;
  border: 1px solid var(--bg-light-2);
  border-radius: 15px;
  padding: 5px 10px;
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #bf2121;
    border: 1px solid var(--bg-dark-1);
  }
}
.logo img {
  height: 30px;
}
/* mobile nav */
.open-mobile,
.close-mobile {
  border: none;
  height: 30px;
  background-color: transparent;
}
.open-mobile {
  display: none;
}
.open-mobile img,
.close-mobile img {
  height: 100%;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(34, 40, 49, 0.541);
  backdrop-filter: blur(8px);
  width: 300px;
  height: 100vh;
  height: 100dvh;
  /* display: none; */
  z-index: 100;
  display: none;
  flex-direction: column;
}
/* when .open is added to parent, show it */
.mobile-menu.open {
  display: flex;
}

.mobile-menu li {
  list-style: none;
  width: 100%;
}
.mobile-menu .close-mobile {
  margin: 1.5rem;
}
.open {
  display: block;
}
.mobile-menu a {
  display: block;
  color: var(--bg-light-2);
  text-decoration: none;
  font-size: var(--text-6);
  width: 100%;
  padding: 0.6rem 1.5rem;
  border-radius: 9px;
  transition: color 0.2s ease, background-color 0.4s ease;
}
.mobile-menu a:hover:not(.msn-link .link-mobile-b) {
  color: #a62d2d;
  background-color: var(--bg-dark-1);
}

/* navbar resonsive */
@media (width< 960px) {
  .logo img {
    height: 20px;
  }
  .nav-links ul {
    /* display: none; */
    gap: 2rem;
  }
  .msn-link {
    display: none;
  }
  .open-mobile {
    display: inline-block;
  }
}
@media (width< 720px) {
  .logo img {
    height: 20px;
  }
  .nav-links {
    display: none;
  }
  .open-mobile,
  .close-mobile {
    display: block;
  }
}
@media (width< 420px) {
  .mobile-menu ul {
    width: 100%;
  }
}









/* ========================footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: static;
  bottom: 0;
  background-color: var(--bg-dark-1);
}
.footer-top {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 3rem;
  gap: 2rem;
}
.footer-top h1 {
  font-size: clamp(2rem, 8vw, 3rem);
  color: var(--bg-light-1);
}
.footer-top p {
  color: var(--bg-light-1);
}
.btn-flex {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.btn-flex button {
  border: none;
  font-size: var(--text-6);
  background-color: var(--bg-accent-2);
  padding: 0.5rem 1.25rem;
  border-radius: 5px;
  color: var(--bg-light-1);
  cursor: pointer;
}

.btn-flex button:last-child {
  background-color: var(--bg-dark-2);
  /* resonsive */

  /* .footer-bottom .contact-panel {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 250px));
  grid-template-rows: repeat(1, 200px);
  grid-auto-rows: 100px;
  justify-items: left;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  } */
}
.footer-bottom {
  display: flex;
  /* justify-content: space-around; */
  padding: 2rem 6rem;
  gap: 3rem;
  justify-content: left;
}
.contact-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact-panel h1 {
  font-size: var(--title-1);
  color: var(--bg-light-2);
}
.details-side {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

details {
  background-color: var(--bg-dark-2);
  padding: 0.8rem;
  border-radius: 8px;
  transition: all 0.3s;
}

details[open] summary {
  color: var(--bg-accent-2);
  font-weight: 500;
}

.contact-region summary {
  color: var(--bg-light-1);
  text-align: start;
  list-style-position: outside;
  transition: all 0.2s;
}
.contact-region summary::marker {
  color: var(--bg-accent-1);
}
.contact-region p {
  font-size: var(--text-3);
  color: var(--bg-light-2);
  text-align: start;
}
.contact-region address {
  color: var(--bg-light-1);
  text-align: start;
}

@media (width<620px) {
  .footer-bottom {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 3rem;
    border: 1px rebeccapurple solid;
    justify-content: left;
  }
}
/* =================================================== */

.social-panel .social-icon-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}
.social-panel h1 {
  color: var(--bg-light-2);
  font-size: var(--title-1);
}
.social-icon img {
  height: 35px;
}
.footer-last-bottom span {
  border: 1px solid var(--bg-light-3);
  display: block;
  width: 90%;
  margin: auto;
}
.footer-last-bottom p {
  color: var(--bg-light-2);
  font-size: calc(var(--text-1) + 0.1rem);
  margin: 5px;
}